<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <div align="center">
        <h1>Add Employee</h1>
        <form action="/emp/edit" method="post">
            <table border="1">
                <tr>
                    <th>Full Name</th>
                    <td> 
                        <input type="hidden" name="_id" value="<%= emp._id %>">
                        <input type="text" name="fullName" value="<%= emp.fullName %>"> 
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td> <input type="text" name="email" value="<%= emp.email %>"> </td>
                </tr>
                <tr>
                    <th>City</th>
                    <td> <input type="text" name="city" value="<%= emp.city %>"> </td>
                </tr>
                <tr>
                    <td>Select Department</td>
                    <td>
                        <select name="deptID">
                            <% for(i=0;i<depts.length;i++){ %>
                                <option value="<%= depts[i]._id %>" <% if(depts[i]._id.toString() == emp.deptID.toString()){ %> selected <% } %> ><%= depts[i].deptName %></option>
                                <% } %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th colspan="2" align="center"><input type="submit" value="edit"></th>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>